[submodule "periodfind"]
	path = periodfind
	url = https://github.com/ZwickyTransientFacility/periodfind.git
[submodule "scope-phenomenology"]
	path = scope-phenomenology
	url = https://github.com/bfhealy/scope-phenomenology.git
