repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: .ipynb_checkpoints|^.fits
      - id: trailing-whitespace
        exclude: .ipynb_checkpoints|^.fits
  - repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
      - id: black
        pass_filenames: true
        exclude: .ipynb_checkpoints|data|^.fits
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        pass_filenames: true
        exclude: .ipynb_checkpoints|data|^.fits|__init__.py
